html{
    box-sizing: border-box;
    font-size: 62.5%;
  }

  *, *:before, *:after{
    box-sizing: inherit;
  }

  body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
  }

  /*Parte 1*/

   /*header */ 
   .siteheader{
    background-image: url(/img/shellfish-3062011_1920.jpg);
    background-position: center center;
    height: 50rem;
    background-size: cover;
  }
  .barra a{
    text-decoration: none;
    color: #ffffff;
  }
  .barra h1{
    text-align: center;
    font-weight: 400;
  }
  .barra a:hover{
    color: #271a02;
  }
  .anch{
    font-weight: 700;
  }
  .navegacion a{
    display: block;
    text-align: center;
    font-size: 1.5rem;
  }
  .texto-header{
    padding: 5rem;
    color: #ffffff;
    text-align: center;
    line-height: 1.5;
  }
  .texto-header p{
    font-size: 2rem;
  }
  /* header */ 
  @media (min-width:768px){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  
  }
  @media (min-width:768px){    
  .navegacion{
        display: flex;
    }
    .navegacion a{
    margin-left: 1.5rem;
    }
  
  }
  .texto-header{
    color: #ffffff;
  }
  .contenedor{
    max-width: 80.5%;
    margin-left: auto;
    margin-right: auto;
  }
  .navegacion{
      background-color: transparent;
      box-shadow: none ;
  }
  /*Parte de body*/
  .card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.waves-effect img {
    position: relative;
    z-index: -1;
}
 .img {
    border-style: none;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}
  /*Fother*/
  .footter{
    margin: 5rem;
    background-color: #bca55a;
    color:white;
}

  .barra{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.9rem;  
    padding-bottom: 0.9rem;
}